* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    
}

body {
    background-color:rgb(49, 46, 82);
}

header {
    background-color: rgb(73, 59, 98);
    color:rgb(255, 254, 254);
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color:white;
    height: 150px;
    width: 200px;
    margin-top: 20px;
}

#music-table {
    background-color:antiquewhite;
    border: 1px solid black;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 1100px;
}

